body{
	background:url(../images/background.jpg);
}

h1, p {
   font-weight:bold;
   animation-duration: 700ms;
   animation-name: blink;
   animation-iteration-count: infinite;
   animation-direction: alternate;
}
@keyframes blink {
   from {
      color:yellow;
   }
   to {
      color:white;
   }
 }

.letters{ 
	text-align: center; 
	margin: 0 auto 0 auto; 
} 
	
.letter{ 
	display: inline-block;
}


th, td{
	padding: 20px;
}

tr, td{
	background-color: #eeeeee;
}

thead {
	background-color: #cccccc;
}

tr:nth-child(even){
	background-color: #dddddd;
}

tr:hover td {
	background-color: #ffffff;
}